#map { 
	width: 700px; 
	height: 450px; 
	border: solid 1px #444444; 
	font-family: Tahoma, sans-serif; 
	font-size: 110%; 
	font-weight: bold; 
	color: #0033f0; 
	text-align: center;
}
#comboDrawingType{
	position: relative; 
	top: -45px;
	left: 70px; 
	margin: 6px; 
	border: solid 2px blue; 
}
#pSidesNumber{
	position: relative; 
	top: -78px;
	left: 220px; 
	margin: 6px; 
}
.myPanel {
	position: relative; 
	top: 0px;
	left: -6px; 
	height: 39px; 
	width: 39px; 
	margin: 6px; 
	border: solid 2px blue; 
	background-color: red; 
}
.activateDrawingItemInactive {
	float: left; 
	width: 32px; 
	height:32px; 
	margin: 2px; 
	border: solid 1px #333333; 
	border-bottom: solid 2px #333333; 
	border-right: solid 2px #333333; 
	background-image: url('https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-part-2/512/turn_on_off_power-128.png');
	background-size: 100%;
	background-repeat: no-repeat; 
	background-position: center; 
	cursor: pointer;
}	